{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form method="POST">
    {{ form.csrf_token }}

    <h1>User Registration</h1>
    {% include 'flash_message.html' %}

    <div>{{ form.email.label }}</div>
    {{ form.email }}
    {% for error in form.email.errors %}
      <p>{{ error }}</p>
    {% endfor %}
    
    <div>{{ form.user_name.label }}</div>
    {{ form.user_name }}
    {% for error in form.user_name.errors %}
      <p>{{ error }}</p>
    {% endfor %}

    <div>{{ form.password.label }}</div>
    {{ form.password }}
    {% for error in form.password.errors %}
      <p>{{ error }}</p>
    {% endfor %}

    <div>{{ form.confirm.label }}</div>
    {{ form.confirm }}
    {% for error in form.confirm.errors %}
      <p>{{ error }}</p>
    {% endfor %}

    <div>{{ form.submit }}</div>

  </form>
</div>
{% endblock %}


